[default]
src = 'src'
out = 'out'
libs = ['lib']
remappings = ['ds-test/=lib/ds-test/src/', 'solmate/=lib/solmate/src/tokens']
fuzz_max_local_rejects = 1000000000
optimizer = true
optimizer_runs = 200
gas_reports = ['Vault', 'Factory', 'FloorERC721SubRegistry', 'InterestRateModule', 'Liquidator', 'MainRegistry', 'OracleHub', 'SimplifiedChainlinkOracle', 'StandardERC20Registry', 'FloorERC1155SubRegistry', 'Proxy']
auto_detect_solc = true
fuzz_runs = 200

# See more config options https://github.com/gakonst/foundry/tree/master/config